body {
    font-family: Arial, sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
}

button.delete-button {
    padding: 5px 10px;
    background-color: #ff6347; /* Red color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button.delete-button:hover {
    background-color: #cc4731; /* Darker red on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}